@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: ;
    --cor1: ;
    --cor3: ;
    --cor4: ;

    --fonte-padrao: Areal, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;

    /*  para chamar as variaveis  color: var( --cor4  );   */
}


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #FFEFDF;
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '00A0\00A0\1F517';
}

header {
    background-image: linear-gradient(to top, #111235, rgba(17, 18, 53, 0.83));
    height: 200px;
}

header > h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 3em;
    padding: 20px;
    font-family: var(--fonte-destaque);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.78);
}

header > p {
    color: #FFFFFF;
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.78);
}

/****************ESTILIZANDO O NAVBAR COM CSS*****************/


nav {
    background-color: #FA3654;
}

nav > a {
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
    padding: 10px;
    text-shadow: 0px 7px 9px rgba(17, 18, 53, 0.87);
    font-weight: bold;
    transition-duration: 1s;
}

nav > a:hover {
    background-image: linear-gradient(to bottom, #111235, #FA3654, #111235);
    text-decoration: underline;
    color: aqua;
}


main {
    background-color: #FDF7F1;
    max-width: 1000px;
    min-width: 300px;
    padding: 20px;
    margin-bottom: 30px;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}


main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 35px;
    line-height: 2em;
    font-size: 1em;
}

main strong {
    color: #FA3654;
    font-weight: bold;
}

main a {
    text-decoration: none;
    background-color: #FA3654;
    padding: 3px 10px;
    color: #111235;
    font-weight: bold;
    text-decoration: 1s;
}

main a:hover {
    text-decoration: underline;
    color: aqua;
}

main h1 {
    color: #FA3654;
    padding: 0px 20px;
    font-family: var(--font-android);
    font-weight: normal;
}


main h2 {
    font-size: 1.2em;
    background-image: linear-gradient(to right, #111235, transparent);
    color: #FA3654;
    padding: 0px 10px;
    font-family: var(--font-android);
    font-weight: normal;
}


article {
    padding: 0px 10px 10px 10px;
}


main img.bugdroid {
    max-width: 350px;
    margin: auto;
    display: block;
}

main img {
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
}

div.video {
    background-color: rgba(17, 18, 53, 0.91);
    margin: 0px -20px;
}

/****************************Configuração de videos do YouTube************************/

div.video {
    position: relative;
    background-color: #111235;
    margin: 0px -30px 20px -30px;
    padding: 10px;
    padding-bottom: 58.25%;
}

div.video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border: none;
}

/************************************Fim******************************************/

aside {
    background-image: linear-gradient(rgba(17, 18, 53, 0.54), rgba(17, 18, 53, 0.56));
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    padding-left: 20px;
}

aside > h3 {
    background-image: radial-gradient(#FA3654 0, 5%, #111235);
    padding: 15px;
    color: #FFFFFF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}

aside > p {
    padding: 15px;
    color: #FA3654;
}

footer {
    background-image: radial-gradient(#FA3654 0, 5%, #111235);
    margin-top: 20px;
}

footer > p {
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}

footer > p > a {
    text-decoration: none;
    color: #FA3654;
    text-decoration: 1s;
}

footer a:hover {
    text-decoration: underline;
    color: aqua;
}

/****************FIM***********ESTILIZANDO*****************************/